

#slidemap{
 width: 50%;
    height: 40%;
    background-color: #00D3B7;
}

#restaurant_img{
    width: 100%;
    height: 20%;
    background-color: beige;
}
#restaurant_info{
    width: 50%;
    height: 40%;

    background-color: #46b8da;
}

#slides_varia{
    width: 50%;
    height: 40%;
    background-color: #ac2925;
}